{% extends 'base.html' %}
{% load static %}
{% load utility_tags %}

{% block jumbotron %}
	<h1>{{ current_app.name }}</h1>
	<p class="lead">{{ current_app.description|safe }}</p>
{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Supervised learning - Regression</h3>
				</div>

				<div class="panel-body">
					<p>Creating regresion line (best fitting line) from provided points. Click the plot area to add a point. Click a point to remove it.</p>
					<p>Regresion line is created from 80% of the observations, the remaining 20% is used to test the accurancy of the model.</p>
					<div id="regression_chart" style="height: 600px; margin: 0 auto"></div>
					<br>
					<button id="clear_points" class="btn btn-default">Clear points</button>	
				</div>
				
			</div>
		</div>
	</div>
	 
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Supervised learning - Classification</h3>
				</div>

				<div class="panel-body">
					<p>Classification k-nearest neighbors</p>
					
					<div id="classification_chart" style="height: 600px; margin: 0 auto"></div>
				</div>
				
			</div>
		</div>
	</div>
{% endblock %}

{% block javascript %}
	<script type="text/javascript" src="{% static 'js/highcharts.js' %}"></script>
	<!-- <script type="text/javascript" src="{% static 'js/exporting.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/offline-exporting.js' %}"></script> -->
	<script type="text/javascript">
		function getCookie(name) {
			var cookieValue = null;
			if (document.cookie && document.cookie != '') {
				var cookies = document.cookie.split(';');
				for (var i = 0; i < cookies.length; i++) {
					var cookie = jQuery.trim(cookies[i]);
					// Does this cookie string begin with the name we want?
					if (cookie.substring(0, name.length + 1) == (name + '=')) {
						cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
						break;
					}
				}
			}
			return cookieValue;
		}

		var csrftoken = getCookie('csrftoken');

		function csrfSafeMethod(method) {
			// these HTTP methods do not require CSRF protection
			return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
		}


		function generateRegressionLine(chart){
			// console.log(JSON.stringify(chart.series[1].yData));
			$.ajax({
				url: {% url 'scikit_chart:scikit_chart' %},
				type: 'POST',
				data: JSON.stringify({
					'observations_x': chart.series[1].xData,
					'observations_y': chart.series[1].yData,
				}),
				processData: false,
				contentType: false,
				cache: false,
				beforeSend: function (xhr, settings) {
					$("body").css("cursor", "wait");
					if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
						xhr.setRequestHeader("X-CSRFToken", csrftoken);
					}
				},
				success: function(data) {
					let newData = data.regresion_line;
					chart.series[0].setData(newData);
					chart.setTitle({ text: `Accuracy: ${data.accuracy}`});
					// please consider to add at least ten points
					// chart.subtitle.text = data.accuracy;
				},
				error: function() {
					console.log('AJAX ERROR');
				},
				complete: function() {
					$("body").css("cursor", "default");
				}
			});
		}



		var regressionChart = Highcharts.chart('regression_chart', {
			chart: {
				type: 'scatter',
				margin: [70, 50, 60, 80],
				spacingBottom: 15,
				spacingLeft: 10,
				spacingRight: 10,
				spacingTop: 10,
				// zoomType: 'xy',
				// panning: true,
				// panKey: 'shift',
				// ignoreHiddenSeries : false,
				events: {
					click: function (e) {
						// find the clicked values and the series
						var x = e.xAxis[0].value,
							y = e.yAxis[0].value,
							series = this.series[1];

						// Add it
						series.addPoint([x, y]);
						// generateRegressionLine(regressionChart);
						if (series.data.length >= 10) {
							generateRegressionLine(regressionChart);
						}
						// else {
						// 	// regressionChart.series[0].setData(null);
						// 	regressionChart.setTitle({ text: 'Please consider to add at least ten points'});
						// }

					}
				}
			},
			title: {
				// text: 'Regression Line',
				text: 'Please consider to add at least ten points',
				style: {
					fontSize:'23px',
				}
			},
			subtitle: {
				// text: 'Click the plot area to add a point. Click a point to remove it.',
				text: null,
				style: {
					fontSize:'15px',
					verticalAlign: "top",
				}
			},
			xAxis: {
				title: {
					text: null,
				},
				labels: {
					style: {
						fontSize:'25px',
					}
				},
				gridLineWidth: 1,
				minPadding: 0.4,
				maxPadding: 0.4,
				maxZoom: 60,
				// offset: 100,
				// showEmpty: true,
				min: -100,
				max: 100,
			},
			yAxis: {
				// pointStart: -10,
				title: {
					text: null,
				},
				labels: {
					style: {
						fontSize:'25px',
					}
				},
				minPadding: 0.4,
				maxPadding: 0.4,
				maxZoom: 60,
				min: -100,
				max: 100,
				// softMin: -100,
				// softmax: 50,
			 //    softmin: -50,
				// startOnTick: false,
			 //    endOnTick: false,
				// showEmpty: true,
				// plotLines: [{
				// 	value: 0,
				// 	width: 1,
				// 	color: '#808080'
				// }]
			},
			legend: {
				enabled: false,
			},
			exporting: {
				enabled: false,
				scale: 1,
				sourceHeight: 1080,
				sourceWidth: 1920,
			},
			plotOptions: {
				series: {
					// lineWidth: 1,
					stickyTracking: false,
					point: {
						events: {
							'click': function () {
								// this.remove();
								if (this.series.data.length > 10) {
									this.remove();
									generateRegressionLine(regressionChart);
								}
								else {
									this.remove();
									// regressionChart.series[0].data.remove(true);
									regressionChart.setTitle({ text: 'Please consider to add at least ten points'});
									regressionChart.series[0].setData(null);
								}
							}
						}
					}
				}
			},
			series: [
				{
					type: 'line',
					name: 'Regression Line',
					data: [],
					marker: {
						enabled: false
					},
					states: {
						hover: {
							lineWidth: 0
						}
					},
					enableMouseTracking: false
				},
				{
					type: 'scatter',
					name: 'Observations',
					data: null,
					marker: {
						radius: 4,
					},
					// pointStart: -10,
				}
				
			]
		});




		var classificationChart = Highcharts.chart('classification_chart', {
			chart: {
				type: 'scatter',
				margin: [70, 50, 60, 80],
				spacingBottom: 15,
				spacingLeft: 10,
				spacingRight: 10,
				spacingTop: 10,
				events: {
					click: function (e) {
						// find the clicked values and the series
						var x = e.xAxis[0].value,
							y = e.yAxis[0].value,
							series = this.series[1];

						// Add it
						series.addPoint([x, y]);
						// generateRegressionLine(regressionChart);
						// if (series.data.length >= 10) {
						// 	generateRegressionLine(regressionChart);
						// }
						// else {
						// 	// regressionChart.series[0].setData(null);
						// 	regressionChart.setTitle({ text: 'Please consider to add at least ten points'});
						// }

					}
				}
			},
			title: {
				// text: 'Regression Line',
				text: 'Please consider to add at least ten points',
				style: {
					fontSize:'23px',
				}
			},
			subtitle: {
				// text: 'Click the plot area to add a point. Click a point to remove it.',
				text: null,
				style: {
					fontSize:'15px',
					verticalAlign: "top",
				}
			},
			xAxis: {
				title: {
					text: null,
				},
				labels: {
					style: {
						fontSize:'25px',
					}
				},
				gridLineWidth: 1,
				minPadding: 0.4,
				maxPadding: 0.4,
				maxZoom: 60,
				min: -100,
				max: 100,
			},
			yAxis: {
				title: {
					text: null,
				},
				labels: {
					style: {
						fontSize:'25px',
					}
				},
				minPadding: 0.4,
				maxPadding: 0.4,
				maxZoom: 60,
				min: -100,
				max: 100,
			},
			legend: {
				enabled: false,
			},
			plotOptions: {
				series: {
					// lineWidth: 1,
					stickyTracking: false,
					point: {
						events: {
							'click': function () {
								// this.remove();
								if (this.series.data.length > 10) {
									this.remove();
									generateRegressionLine(regressionChart);
								}
								else {
									this.remove();
									// regressionChart.series[0].data.remove(true);
									regressionChart.setTitle({ text: 'Please consider to add at least ten points'});
									regressionChart.series[0].setData(null);
								}
							}
						}
					}
				}
			},
			// plotOptions: {
			// 	scatter: {
			// 		marker: {
			// 			radius: 5,
			// 			states: {
			// 				hover: {
			// 					enabled: true,
			// 					lineColor: 'rgb(100,100,100)'
			// 				}
			// 			}
			// 		},
			// 		states: {
			// 			hover: {
			// 				marker: {
			// 					enabled: false
			// 				}
			// 			}
			// 		},
			// 		tooltip: {
			// 			headerFormat: '<b>{series.name}</b><br>',
			// 			pointFormat: '{point.x} cm, {point.y} kg'
			// 		}
			// 	}
			// },
			series: [
				{
					name: 'Group 1',
					color: 'rgba(223, 83, 83, .5)',
					// color: 'red',
					data: [
						[61.2, 51.6], [67.5, 59.0], [59.5, 49.2],
						[57.0, 63.0], [55.8, 53.6]
					],
					marker: {
						radius: 6,
					},
				},
				{
					name: 'Group 2',
					color: 'rgba(100,149,237, .5)',
					// color: 'blue',
					data: [
						[74.0, 65.6], [75.3, 71.8], [93.5, 80.7],
						[86.5, 72.6], [87.2, 78.8]
					],
					marker: {
						radius: 6,
					},
				},
				{
					name: 'Group 3',
					// color: 'green',
					color: 'rgba(50,205,50, .5)',
					data: [
						[-1, 6], [-3, 7], [-4, 8], [-16, 7], [-2, 17]
					],
					marker: {
						radius: 6,
						symbol: 'triangle-down',
					},
				}
			]
		});

		$('#clear_points').on('click', function() {
			regressionChart.series[0].setData(null);
			regressionChart.series[1].setData(null);
			regressionChart.setTitle({ text: 'Please consider to add at least ten points'});
		})

	</script>
{% endblock %}
