{% extends 'base.html' %}
{% load static %}
{% load utility_tags %}

{% block jumbotron %}
	<h1>{{ current_app.name }}</h1>
	<p class="lead">{{ current_app.description|safe }}</p>
{% endblock %}

{% block content %}
	<div class="row">
		{% if request.user.is_authenticated %}
		<div class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Chat informations</h3>
				</div>
				<div class="panel-body">
					<p>Logged in users:
						<ul id="logged_in_users">
						{% for user in logged_in_users %}
							<li username="{{ user.username }}">{{ user.username }}</li>
						{% endfor %}
						</ul>
					</p>
				</div>
			</div>

			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Account informations</h3>
				</div>
				<div class="panel-body">
					<p>Signed in as <b>{{ request.user.username }}</b></p>
					<p>Joined: {{ request.user.date_joined }}</p>
					<form id="log_out_form" method="POST" action="">
						{% csrf_token %}
						<footer>
							<input class="btn btn-default" type="submit" name="log_out" value="Log out">
						</footer>
					</form>
				</div>
			</div>
		</div>

		<div class="col-xs-6 col-sm-8 col-md-8 col-lg-8">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Chat</h3>
				</div>
				<div id="chat" class="panel-body">
					
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<div class="input-group">
						<input id="message" type="text" class="form-control" placeholder="Send a message">
						<span class="input-group-btn">
							<button id="send_message" class="btn btn-primary" type="button">Send</button>
						</span>
					</div>
				</div>
			</div>
		</div>



		{% else %}
		<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Create User</h3>
				</div>
				<div class="panel-body">
					<form method="POST" action="">
						{% csrf_token %}
						<fieldset>
							<div class="row">
								<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
									{% form_field create_user_form.username %}
								</div>
							</div>

							<div class="row">
								<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
									{% form_field create_user_form.password1 %}
								</div>
							</div>

							<div class="row">
								<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
									{% form_field create_user_form.password2 %}
								</div>
							</div>
						</fieldset>
						<footer>
							<input class="btn btn-primary" type="submit" name="create_user_form" value="Create User">
						</footer>
					</form>
				</div>
			</div>
		</div>

		<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Log in</h3>
				</div>
				<div class="panel-body">
					<form method="POST" action="">
						{% csrf_token %}

						{% for error in log_in_form.non_field_errors %}
						<div class="alert alert-danger alert-dismissible fade in" role="alert">
							<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							<strong>Warning!</strong> {{ error }}
						</div>
						{% endfor %}

						<fieldset>
							<div class="row">
								<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
									{% form_field log_in_form.username %}
								</div>
							</div>

							<div class="row">
								<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
									{% form_field log_in_form.password %}
								</div>
							</div>

						</fieldset>
						<footer>
							<input class="btn btn-primary" type="submit" name="log_in_form" value="Log in">
						</footer>
					</form>
				</div>
			</div>
		</div>
		{% endif %}
	</div>

{% endblock %}

{% block javascript %}
	<script type="text/javascript">
		'use strict';
		$(document).ready(function() {
			{% if request.user.is_authenticated %}
				let socket = new WebSocket('ws://' + window.location.host + '/users/');

				socket.onopen = function open() {
				  console.log('WebSockets connection created.');
				};

				socket.onmessage = function message(event) {
					let data = JSON.parse(event.data);
					let message = data['message'];

					if (message) {
						$('#chat').append(message);
						$("#chat").scrollTop($("#chat")[0].scrollHeight);
						return
					}
					let username = data['username'];
					let is_logged_in = data['is_logged_in'];
					let li_tag = $(`li[username=${username}]`).length;

					if (li_tag && is_logged_in === false) {
						if (username !== '{{ request.user.username }}') {
							$(`li[username=${username}]`).remove();
						}
					}

					if (li_tag === 0 && is_logged_in === true) {
						$('#logged_in_users').append(`<li username="${username}">${username}</li>`);
					}

				};

				if (socket.readyState == WebSocket.OPEN) {
					socket.onopen();
				}

				$('#message').on('keypress', function(event) {
		 			if(event.which == 13) {
		 				$('#send_message').trigger('click');
		 			}
				})

				$('#send_message').on('click', function() {
					let message = $('#message');
					socket.send(message.val());
					message.val('');
				})
			{% endif %}

			setTimeout(function(){
				$('.alert').alert('close');
			}, 5000);

		})
	</script>
{% endblock %}
