/* Space out content a bit */
body {
	font-family:"Comic Sans MS", cursive, sans-serif;
	padding-top: 20px;
	padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.main_content,
.footer {
	padding-right: 15px;
	padding-left: 15px;
}

/* header */
.header {
	padding-bottom: 20px;
	border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
	margin-top: 0;
	margin-bottom: 0;
	line-height: 40px;
}

/* footer */
.footer {
	padding-top: 19px;
	color: #777;
	border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
	.container {
		/*max-width: 730px;*/
		max-width: 1060px;
	}
}
.container-narrow > hr {
	margin: 30px 0;
}

/* jumbotron */
.jumbotron {
	/*color: white;*/
	background-size: cover;
	background-position: center center;
	text-align: center;
	border-bottom: 1px solid #e5e5e5;
	background-image: url("../images/jumbotron.png");
}
.jumbotron .btn {
	padding: 14px 24px;
	font-size: 21px;
}


.form-control:focus {
  border-color: #867BF6;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px 0px rgba(0,0,0,.075), 0 0 8px 0px rgba(81,70,156,0.6);
		  box-shadow: inset 0 1px 1px 0px rgba(0,0,0,.075), 0 0 8px 0px rgba(81,70,156,0.6);
}

/* main content */
.main_content {
	margin: 40px 0;
}
.main_content p + h4 {
	margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
	/* Remove the padding we set earlier */
	.header,
	.main_content,
	.footer {
		padding-right: 0;
		padding-left: 0;
	}
	/* Space out the masthead */
	.header {
		margin-bottom: 30px;
	}
	/* Remove the bottom border on the jumbotron for visual effect */
	.jumbotron {
		border-bottom: 0;
	}
}

/* btn-primary */
.btn-primary {
	color: #fff;
	background-color: #51469c;
	border-color: #51469c;
}
.btn-primary:hover {
	color: #fff;
	background-color: #483e8a;
	border-color: #483e8a;
}
.btn-primary:focus,
.btn-primary.focus {
	color: #fff;
	background-color: #483e8a;
	border-color: #483e8a;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #483e8a;
  border-color: #483e8a;
}
.btn-primary:active:hover,
.btn-primary.active:hover,
.open > .dropdown-toggle.btn-primary:hover,
.btn-primary:active:focus,
.btn-primary.active:focus,
.open > .dropdown-toggle.btn-primary:focus,
.btn-primary:active.focus,
.btn-primary.active.focus,
.open > .dropdown-toggle.btn-primary.focus {
  color: #fff;
  background-color: #483e8a;
  border-color: #483e8a;
}

/* nav-pills */
.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
	color: #fff;
	background-color: #51469c;
}
.nav-pills > li > a, .nav-pills > li > a:focus, .nav-pills > li > a:hover {
	color: #51469c;
	background-color: transparent;
}

/* anchor tag */
a {
	color: #867BF6;
	text-decoration: none;
	background-color: transparent;
}
a:focus, a:hover {
	color: #483e8a;
}

/* remove list bullets */
ul {
	list-style: none;
}

/* prevent resizing horizontally */
textarea { 
   resize:vertical;
}

/* select2 highlighted color */
.select2-container--default .select2-results__option--highlighted[aria-selected] {
	background-color: #51469c;
	color: white;
}

/* thumbnail flexible boxes */
.thumbnail-flex {
	display:flex;
	flex-wrap: wrap;
}

/*.panel-form {
	display: none;
}
.panel-form-active {
	display: flex;
}
*/
/*.well {
	background: none;
}*/

/*.panel-primary {
	border-color: #51469c;
}

.panel-primary > .panel-heading {
	color: #fff;
	background-color: #51469c;
	border-color: #51469c;
}
.panel-primary > .panel-heading + .panel-collapse > .panel-body {
	border-top-color: #51469c;
}
.panel-primary > .panel-heading .badge {
	color: #51469c;
	background-color: #fff;
}
.panel-primary > .panel-footer + .panel-collapse > .panel-body {
	border-bottom-color: #51469c;
}*/

/* Hide HTML5 Up and Down arrows. */
input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
 
input[type="number"] {
    -moz-appearance: textfield;
}
