/* Space out content a bit */
body {
	/*background: #f89bff none repeat scroll 0 0;*/
	/*background: #e0ebff none repeat scroll 0 0;*/
	/*background-image: url("G (17).jpg");*/
	/*background-size: 100% auto;*/
	/*background-size: cover;*/
	font-family:"Comic Sans MS", cursive, sans-serif;
	padding-top: 20px;
	padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
	padding-right: 15px;
	padding-left: 15px;
}

/* Custom page header */
.header {
	padding-bottom: 20px;
	border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
	margin-top: 0;
	margin-bottom: 0;
	line-height: 40px;
}

/* Custom page footer */
.footer {
	padding-top: 19px;
	color: #777;
	border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
	.container {
		/*max-width: 730px;*/
		max-width: 1060px;
	}
}
.container-narrow > hr {
	margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
	/*background: #d3baff none repeat scroll 0 0;*/
	/*background-image: url('G7/11/12/28/31/32/44/46/48/52/56/59/62/64.jpg');*/
	/*background-image: url('G31/32/48/52.jpg');*/
	background-image: url('G53.png');
	background-size: cover;
	background-position: center center;
	/*background-attachment: fixed;*/
	text-align: center;
	border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
	padding: 14px 24px;
	font-size: 21px;
}

/* Supporting marketing content */
.marketing {
	margin: 40px 0;
}
.marketing p + h4 {
	margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
	/* Remove the padding we set earlier */
	.header,
	.marketing,
	.footer {
		padding-right: 0;
		padding-left: 0;
  	}
  	/* Space out the masthead */
  	.header {
		margin-bottom: 30px;
  	}
  	/* Remove the bottom border on the jumbotron for visual effect */
  	.jumbotron {
		border-bottom: 0;
  	}
}

/*.thumbnail {
	background: #eee none repeat scroll 0 0;
}*/
.btn-primary {
	/*background-color: #8bb2f9;
    border-color: #8bb2f9;*/
    /*background-color: #C8C3FB;
    border-color: #C8C3FB;*/
    background-color: #867BF6;
    border-color: #867BF6;
    color: #fff
}
.btn-primary:hover {
	/*background-color: #563d7c;
    border-color: #563d7c;*/
    background-color: #504993;
    border-color: #504993;
    color: #fff
}
.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
    background-color: #867BF6;
    color: #fff;
}
a {
    color: #867BF6;
    text-decoration: none;
    background-color: transparent;
}
a:focus, a:hover {
	color: #000000;
}
