{% extends 'base.html' %}

{% block jumbotron %}
	<h1>{{ current_app.name }}</h1>
	<p class="lead">{{ current_app.description }}</p>
{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-sm-12 col-md-12 col-lg-12">

			<div class="well well-lg">
				asdasdasdas 23d23d3 ?!
			</div>

			{% for task in codility_task %}
				<div class="panel panel-default">
					<div class="panel-heading">
						<a class="pull-right" href="{{ task.link }}" target="_blank">Task Description</a>
						<h3 class="panel-title">{{ task.title }}</h3>
					</div>
					<div class="panel-body">
						<p>{{ task.annotation }}</p>
						<pre><strong>{{ task.code }}</strong></pre>
					</div>
				</div>
			{% endfor %}

		</div>
	</div>
{% endblock %}

{% block javascript %}
{% endblock %}
