<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">About/Contact</h4>
			</div>
			<div class="modal-body">

				<h4><b>About the site</b></h4>
				<p>I created this site mostly for educational reasons. In addition I wanted to create place that shows some of my programming skills, and to hear some feadback about my code, e.g what can be done better or different aproach to the programming problems. Unfortunately in my work I didn't have opportunities to use some of the technologies or just a good programming practices. One example would be writing tests, so I'm really hopping for any feadback regarding this topic, because I really want to learn and incorporate testing into my code.
				</p>
				<p>I also tried to accomplished more that 90% test coverage(using coverage package) - currently I have 99% coverage.</p>
				<p>Applications I wrote vary from very simple(change styling of the page) to more complicated once(machine learning with scikit-learn).</p>
				<p>Progressively I will add more applications, with new technologies and libraries and maybe I can build good foundation of the vastly different technologies and libraries.</p>
				<p>I wish you a pleasant stay and don't hesitate to contact me with your feedback.</p>
				<br>


				<h4><b>Few words about me</b></h4>
				<p>I really enjoy computer science, mathematics, music and sports, especially baskeball, fitness/gym and swimming, I also like eat healthy food, and I love ocean.</p>
				<p><b>More information about my skills, education and employment in my current <a href="">CV</a></b></p>
				<p><b>E-mail: karnasiewicz.jacek@gmail.com</b></p>
				<br>


				<p>Interesting and fun resources:</p>
				<p>Khan academy
					<a target="_blank" href="https://www.khanacademy.org/">Main page</a>,
					<a target="_blank" href="https://www.youtube.com/user/khanacademy">YouTube channel</a>
				</p>
				<p>David Beazley fun keynotes on YouTube:
					<a target="_blank" href="https://www.youtube.com/watch?v=lYe8W04ERnY">AsynIO</a>,
					<a target="_blank" href="https://www.youtube.com/watch?v=lyDLAutA88s">Built in Super Heroes</a>
				</p>
				<p>George Carlin ;) about
					<a target="_blank" href="https://www.youtube.com/watch?v=8r-e2NDSTuE&t=2s">Religion</a>,
					<a target="_blank" href="https://www.youtube.com/watch?v=w15OS2PdCKo&t=23s">Pro-Life</a>
				</p>
				<p>Fitness tips <a target="_blank" href="https://www.youtube.com/user/JDCav24">YouTube channel</a></p>
				<p>Really nice wallpaper page <a target="_blank" href="https://alpha.wallhaven.cc/">Wallhaven</a></p>
				<p>Great source of highlights from nba games <a target="_blank" href="https://www.youtube.com/channel/UCSr206TTNSJcGGGnU15Ga9A/videos">YouTube channel</a></p>
				<p>That is why Iron Man is the best :) <a target="_blank" href="https://www.youtube.com/watch?v=5mOfsvRxRTk">YouTube video</a></p>
				<p>And something for music enthusiasts <a target="_blank" href="https://www.youtube.com/watch?v=5pidokakU4I">YouTube video</a></p>
				<p>...and something for every developer <a target="_blank" href="https://www.youtube.com/watch?v=BKorP55Aqvg">YouTube video</a></p>

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
