<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">About/Contact</h4>
			</div>
			<div class="modal-body">
				<h4>Few things about the site(why/feedback/site limitation(openshift, memory, db choice))</h4>
				<p><pre>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</pre></p>
				<p>Applications vary from very simple(change styling of the page) to more complicated once(neural network). But all of the presents some of the usage of python, django, javascript, css/html. Sometime the same functionality is written in diffrent style or technology - it's deliberate approach)</p>
				<p>Try to accomplished 100% test coverage, + using coverage package</p>
				<h4>Few words about me or just a cv link</h4>
				<p>python fullstack developer(backend and server side),<br>
				python fullstack developer(backend and frontend)</p>
				<p>My current e-mail karnasiewicz.jacek@gmail.com</p>
				<p>My current <a href="">CV</a></p>
				<p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
				<h4>Maybe photo</h4>
				<p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
				<h3>Interesting resource</h3>
				<h4>David Beazley and links to youtube video</h4>
				<p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
				<h4>Django channels</h4>
				<p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
