<!DOCTYPE html>
<html>
<head>
	<title> Jacek Karnasiewicz Home Page </title>
	<meta http-equiv="content-type" content="text/html" charset="iso-8859-1" />
	<link rel="stylesheet" type="text/css" href="style.css" />

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js">
	</script>
	<script src="jquery-ui.min"></script>
	<script src="http://code.highcharts.com/highcharts.js"></script>

	<script>
		$(document).ready(function(){
			$('.slider img:gt(0)').hide();

			setInterval(function () {
		    $('.slider :first-child').fadeOut()
		                             .next('img')
		                             .fadeIn()
		                             .end()
		                             .appendTo('.slider');
			}, 4000);
		});
	</script>

</head>

<body>

	<div id="top">
		
		<div class="slider">
			<img src="1.jpg">
			<img src="2.jpg">
			<img src="3.png">
			<img src="4.png">
			<img src="5.png">
			<img src="6.png">
		</div>
	</div>


	<div id="sidebar">
 		<h1><a href="{% url 'home:index' %}">Home</a></h1>
		<p> Some examples of Python/Django programs and projects. </p>
		<ol id="nav">
			<li><a href="{% url 'polls:index' %}">Polls with JavaScript Charts</a></li>
			<li><a href="{% url 'blog:index' %}">Blog with Comments</a></li>
    		<li><a href="{% url 'news:index' %}">News(Web Scraping)</a></li>
		    <li><a href="{% url 'get_image:index' %}">Images(Web Scraping)</a></li>
		    <li><a href="{% url 'csv_db:index' %}">Csv with DataBase</a></li>
		    <li><a href="{% url 'flash_message:index' %}">Flash Message</a></li>
		    <li><a href="{% url 'scrabble:index' %}">Scrabble Dictionary</a></li>
		    <li><a href="{% url 'auth:index' %}">Authentication/Login</a></li>
		    <li><a href="{% url 'admin:index' %}">Admin</a></li>
  		</ol>
	</div>


	<div id="content">

		<div>	
			<h2><a href=""> Jacek Karnasiewicz Home Page </a></h2>
			<p style="color: white;"><strong><em>The technology used on the site: Python 3.3 with Django 1.6, South, Html5/Css3, JavaScript (e.g. HighchartsJS), Openshift and GitHub.<br>
			GitHub repository of the site, <a href="https://github.com/JacekKarnasiewicz/HomePage/tree/master">Here</a>.</em></strong></p>

			<div id="target">	
				<div>
					<video autoplay loop poster="fallout.jpg" id="bgvid" class="img" hidden>
						<source src="videoplayback.mp4" type="video/mp4">
					</video>
					<span class="img_text"><img class="img" src="django.png" hidden><p class="text" hidden>Function HightCharts</p></span>
					<span class="img_text"><img class="img" src="about.jpg" hidden><p class="text" hidden>Ajax search</p></span>
					<span class="img_text"><img class="img" src="cool_places.jpg" hidden><p class="text" hidden>Ajax(image load at the end)</p></span>
					<span class="img_text"><img class="img" src="thegame.jpg" hidden><p class="text" hidden>Game js</p></span>
				</div>

				<div>
					<span class="img_text"><img class="img" src="never_forget.jpg" hidden><p class="text" hidden>Contact Informations</p></span>
					<span class="img_text"><img class="img" src="1.jpg" hidden><p class="text" hidden>MatPlotLib</p></span>
					<span class="img_text"><img class="img" src="2.jpg" hidden><p class="text" hidden>Latex</p></span>
					<span class="img_text"><img class="img" src="comment.jpg" hidden><p class="text" hidden>Blog/Comments</p></span>
				</div>

				<div>
					<span class="img_text"><img class="img" src="math.jpg" hidden><p class="text" hidden>Scikit</p></span>
					<span class="img_text"><img class="img" src="fallout.jpg" hidden><p class="text" hidden>GeoCoding/Twitter</p></span>
					<span class="img_text"><img class="img" src="science.jpg" hidden><p class="text" hidden>REST API</p></span>
					<span class="img_text"><img class="img" src="machinelearning.jpg" hidden><p class="text" hidden>Machine Learning</p></span>
				</div>

				<div>
					<span class="img_text"><img class="img" src="religion.jpg" hidden><p class="text" hidden>Polls(dynamic)</p></span>
					<span class="img_text"><img class="img" src="apple.jpg" hidden><p class="text" hidden>Scrabble(postgresql)</p></span>
					<span class="img_text"><img class="img" src="butterfly.jpg" hidden><p class="text" hidden>Web Scraping(news)</p></span>
					<span class="img_text"><img class="img" src="neuralnetwork.jpg" hidden><p class="text" hidden>Neural Network</p></span>
				</div>
			</div>

		</div>

	</div>


	<div id="footer"> Template design by <a href="http://www.sixshootermedia.com">Six Shooter Media</a>.<br/> Modified by Jacek Karnasiewicz.
	</div>

</body>
<script src="menu.js"></script>
</html>