body {
	width: 100%;
	background:url(asfalt.png) top left repeat;
	min-width: 1100px;
	font:1em Trebuchet MS;
	word-spacing:2px;
	color: #656565;
	margin:0 auto;
}
/*video#bgvid {
	position: fixed;
	top: 50%;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -100;
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	background: url(fallout.jpg) no-repeat;
	background-size: cover;
}*/
#top {
	width: auto;
	height:150px;
	background:url(topwall.jpg) top no-repeat;
	background-size: cover;
}
.slider img {
	position:absolute;
	right:5px;
	top:5px;
	bottom:5px;
	border-radius: 3px;
	box-shadow: 0 3px 6px rgba(0,0,0,0.9);
	margin: 1px;
	padding: 1px;
	background:#000;
	height: 135px;
	width: 216px;
	opacity: 0.8;
}
/* Home */
#home {
	display: flex;
	width: auto;
	clear: right;
}
#home_left {
	float: left;
	width: auto;
	padding: 10px;
	margin: 10px;
}
#home_right {
	float: left;
	width: 50%;
	padding: 10px;
	margin: 10px;
}

/*  */
* {
	margin:0;
	padding:0;
}

a {
	color:#999;
	text-decoration:none;
	padding:2px 4px 2px 4px;
}
a:hover {
	background:none;
}

h2 {
	font:24px Arial, sans-serif;
	color:#99CC33;
	letter-spacing:-1px;
	font-weight:normal;
	margin:15px 0 15px 0;
}
h2.first {
	margin:0 0 15px 0;
}
h2 a {
	color:#99CC33;
	text-decoration:none;
	border:none;
	padding:0;
}
h2 a:hover {
	border:none;
	text-shadow: 0 0 7px white;
}
h3 {
	font-size:1.2em;
	color:#ccc;
	font-weight:normal;
}
p {	
	line-height:24px;
	margin:25px 0 25px 0;
}
blockquote {
	font-size:1.7em;
	margin:35px 150px 35px 0;
	color:#787878;
	background:url(blockquote.gif) top left no-repeat;
	padding:15px 0 0 0;
	font-family:Georgia, "Times New Roman", Times, serif;
}
blockquote p {
	line-height:40px;
}
#sidebar {
	width:263px;
	float:left;
	padding:20px 20px 50px 20px;
	margin-bottom: 150px;
}
#sidebar p {
	font-size:0.9em;
}
#sidebar a {
	color:#ccc;
	border:none;
}
#sidebar a:hover {
	text-decoration:underline;
	color:#eee;
	border:none;
}
#sidebar h1 {
	color:#fff;
	font-size:1.7em;
}
#sidebar h1 a {
	color:#fff;
	text-decoration:none;
	padding:0;
}
#sidebar h1 a:hover {
	text-decoration:none;
	text-shadow: 0 0 7px white;
}
ol#nav {
	margin:25px 15px 25px 30px;
	font-size:1.3em;
}
ol li {
	margin:15px 0 15px 0 !important;
	margin:-10px 0;
	margin:15px;
}
#nav a {
	display:block;
	margin:0;
	color:#99CC33;
	border:none;
}
#nav a b {
	float:right;
	display:none;
	color:#333;
}
#nav a:hover {
	background:none;
	border:none;
	text-decoration:none;
	text-shadow: 0 0 7px white;
}
#nav a:hover b {
	display:inline;
}
#content {
	width:auto;
	margin:0 10% 150px 300px;
	padding:20px;
}
#content ul {
	margin:15px 15px 15px 15px;
	list-style:none;
}
#content ul li {
	margin:10px 0;
	padding:0 0 0 15px;
	background:url(bp.gif) left no-repeat;
}
#content .img {
	border-radius: 3px;
	box-shadow: 0 3px 6px rgba(0,0,0,0.9);
	margin: 1px;
	padding: 1px;
	background:#000;
	height: 175px;
	width: 275px;
	opacity: 0.6;
	/*transform-style: preserve-3d;
  	transition: all 1.0s linear;*/
}
#content .img:hover {
	border-radius: 3px;
	box-shadow: 0 3px 6px rgba(0,0,0,0.9);
	margin: 1px;
	padding: 1px;
	background:#000;
	/*background:url(asfalt.png);*/
	height: 175px;
	width: 275px;
	opacity: 1;
	/*position: absolute;*/
	/*transform: perespecive( 600px ) rotateY( 0deg );
	backface-visibility: hidden;
	transition: transform .5s linear 0s;*/
  	/*transform: rotateY(180deg);*/
}
.img_text {
	position: relative;
}
.text {
	position: absolute;
	top:-80px;
	left: 1px;
	color: white; 
   	font: bold 24px/45px Helvetica, Sans-Serif; 
   	/*letter-spacing: -1px;  */
   	background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
   	padding: 10px;
   	/*width: 100%;*/
   	/*height: 100%;*/
}
#content a {
	background:none;
	border:none;
	text-decoration:none;
}
#content a:hover {
	background:none;
	border:none;
	text-decoration:none;
	color: white;
}
.postdata {
	font:11px Verdana;
	margin:-6px 0 -15px 0;
	color:#777;
}
#footer {
	clear:both;
	padding:30px;
	text-align:center;
	border-top:3px solid #333;
	margin:150px 0 0 0;
	background:#000;
}
#footer a{
	background:none;
	border:none;
	text-decoration:none;
}